.sec {
	min-height: 100vh;
	padding-top: 50px; /* required for fixed nav bar */
}


.sec-heading {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*** BACKGROUND IMAGES FOR SECTIONS ***/
.home {
	background: url('img/home-bg.jpg') no-repeat center center;
	background-size: cover;
}

.about {
	background: url('img/about-bg.jpg') no-repeat bottom center;
	background-size: cover;
}

.portfolio {
	background: url('img/portfolio-bg.jpg') no-repeat top center;
	background-size: cover;
}

.contact {
	background: url('img/contact-bg.jpg') no-repeat center center;
	background-size: cover;
}

/*** SOCIAL MEDIA BUTTONS ***/
.social {
	padding-bottom: 10px;  
}

.btn-social {
	border-color: none;
	color: white;
	opacity: .9;
	font-size: 110%;
}

.btn-social:hover, .btn-social:visited {
	color: white;
	opacity: 0.8;
}

.twitter { background: #00ACEC; }
.github { background: #aaa; }
.linkedin { background: #0077B4; }
.freecodecamp { background: #502E15; }
.email { background: #1E70B6; }

/*** HOME ***/
.navbar-brand {
	color: #222!important;  
	font-family: 'Pacifico', cursive;
}

.intro {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #ddd;
	text-shadow: 2px 1px #222;
}

.name {
	color: white;
	font-size: 100px;
	padding-top: 110px;
}

/*** ABOUT ***/
.main-text {
	font-family: 'PT Sans';
	word-spacing: 3px;
	letter-spacing: 0.5px;
	font-size: 130%;
	color: white;
}

/*** PORTFOLIO ***/
.port-thumb {
	font-size: 22px;
	padding: 5px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.port-thumb .caption {
	text-align: center;
	font-weight: bold;
}

.desc, .links {
	font-size: 14px;
	line-height: 19px;
	padding: 0 9px 0 9px;
	color: rgb(51,51,51);
}

.links {
	text-align: center;
}

.desc {
	height: 95px;
}

.port-thumb a {
	text-decoration: none;
}

.slick-track div {
	outline:none;
}

.thumbnail {
	outline: none!important;
	background: rgb(245, 245, 245);
}

.port-thumb .thumbnail:hover {
	border-color: #222;
}

.thumbnail .caption {
	padding: 9px 9px 0 9px;
}


/*** CONTACT ***/
.circle {
	border-radius: 50%;
	height: 105px;
	width: 105px;
	line-height: 5em;
	margin: 5vh 1vh;
}

.anim {
	text-align: center;
}

footer {
	margin-top: 25vh;
	color: #ccc;
}